<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("furima-logo-color.png", class:"furima-icon"), "/" %>
    <%= search_form_for @q, url: search_items_path, class:"search-form"  do |f| %>
     
      <%= f.search_field :name_cont, placeholder:"キーワードから探す", class:'input-box' %>
      <%= button_tag type: :submit, class:"search-button" do%>
        <%=image_tag "search.png", class:"search-icon"  %>
      <% end %>
      <%= image_submit_tag "search.png" %>
    <% end %>
  </div>
  <div class='nav'>
      <ul class='lists-left'>
      <li><%= link_to 'カテゴリー', "#", class: "category-list" %></li>
      <li><%= link_to 'ブランド', "#", class: "brand-list" %></li>
    </ul>
    <ul class='lists-right'>
    <% if user_signed_in?%>
      <%# deviseを導入できたら、ログインの有無で表示が変わるように分岐しましょう%>
       <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li> 
       <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
    <% else %>
      <li><%= link_to 'ログイン', "/users/sign_in", class: "login" %></li>
      <li><%= link_to '新規登録', "/users/sign_up", class: "sign-up" %></li>
      <%# //deviseを導入できたら、ログインの有無で表示が変わるように分岐しましょう%>
    <% end %>
    </ul>
  </div>
</header>